<main>
  <h2>Have an idea, questions, or concern?</h2>
  <body>
      <div class="container p-1">
          <div class="row">
            <div class="col-12">
              <div class="jumbotron bg-dark text-white">
                <h3> Complete this form to contact us</h3>
                <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
                  <div class="form-group">
                    <textarea name="comment" id="comment" cols="30" rows="10" placeholder="Comment or Questions">
                      
                    </textarea>
                    <label for="Name"> Name </label>
                    <input class="form-control" type="text" [(ngModel)]="contactor.Name" #fullName="ngModel"
                      [ngClass]="{'is-invalid' : f.submitted && Name.invalid}" placeholder="Name" name="Name"
                      required minlength="3" maxlength="20" />
                    <div *ngIf="f.submitted && Name.invalid" class="invalid-feedback">
                      <div *ngIf="Name.errors.required">Name is required</div>
                      <div *ngIf="Name.errors.minlength">Name must be a length of 3 characters</div>
                      <div *ngIf="Name.errors.maxlength"> Name cannot be longer than 20 characters</div>
                    </div>
                  </div>
                  <div class="form-group">
                      <label for="email"> Email Address </label>
                      <input class="form-control" type="text" [(ngModel)]="contactor.email" #email="ngModel"
                        [ngClass]="{'is-invalid' : f.submitted && email.invalid}" placeholder="Email Address" name="email"
                        required minlength="3" maxlength="20" />
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div> Email is required</div>
                            <div *ngIf="email.errors.email">Must be a valid Email address</div>
                          </div>
                    </div>
                   <div class="buttonArea d-flex-column form-group">
                    <button color="primary" routerLink=".">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
  </body>
</main>
