<!-- this page will act as the header and nav bar all in one -->
<main>
    <div class="container text-center">
    </div>
    <!-- considering putting the p tag in a div that goes to the right of the picture with a opec background -->
    <div>
      <div class="container-fluid p-0 blockOneBg d-flex minH border-bottom border-light opatcity">
        <p class="text-white">You are in a dark windowless room as an active duty military member
           and you a learning your classified trade craft. If you were like me you spent extra time on learning all
            you could to pass your technical exams. How are you going to stay awake in that cold dark space? Caffeine. 
            Energy drinks have caffeine but too much sugar you need to pass your fitness tests. Coffee? The communal coffee pot 
            always has something in it but it tastes more like dirty water more than anything.
             So after you doctor it up with sugar and creamer. 
            Still it’s not much better for you. The solution? Brew better coffee.
           Coffee made right, from the roast to the grounds to your cup. </p>
      </div>
    </div>
    <div>
      <div class="container-fluid p-0 blockTwoBg d-flex minH border-bottom border-light opatcity">
        <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis aliquam debitis
          architecto deleniti.
          Nulla architecto maiores illo quis modi deleniti, nihil vel eaque tempora nam animi cum eius iure cumque!</p>
      </div>
    </div>
  </main>
  