<!-- Make the hamburger dropdown fixed to the right hand side -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
  <a  [routerLink]="['/home']" class="nav-brand">
    GG Icon
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent"
    aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- considering having these as 2 columns when in the drop-down -->
  <div class="collapse navbar-collapse justify-content-between" id="navbarToggleExternalContent">
    <div class=" navbar-nav text-white ">
      <a class="nav-link nav-item text-white" [routerLink]="['/coffee/main']">
        Coffee
      </a>
      <a class="nav-link nav-item text-white" [routerLink]="['/coffee/grounds']">
        About
      </a>
      <a class="nav-link nav-item text-white" [routerLink]="['/coffee/whole-bean']">
        Contact
      </a> 
      <a class="nav-link nav-item text-white" [routerLink]="['/register']">
        Sign-up
      </a>
      <a class="nav-link nav-item text-white" [routerLink]="['/login']">
          Login
        </a>
    </div>
    <form class="form-inline">
      <!-- <span class="text-muted mr-4">Grayton's Grounds - "Its all about the beans!" </span> -->
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>




    <!-- </nav> -->