<!-- Make the hamburger dropdown fixed to the right hand side -->
<nav>
    <div class="pos-f-t">
        <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg-dark p-4">
            <h4 class="text-white">Collapsed content</h4>
            <a href="../coffeePages/all/all.component.html" > <h4 class="text-white">Coffee</h4></a>
            <a href="" > <h4 class="text-white"> About </h4></a>
            <a href="" > <h4 class="text-white"> Contact </h4></a>
            <span class="text-muted">Toggleable via the navbar brand.</span>
          </div>
        </div>
        <nav class="navbar navbar-dark bg-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
      </div>
</nav>