/* You can add global styles to this file, and also import other style files */
.blockOneBg{
    background: transparent url('./assets/coffeeBeans/coffeebeanscloseup.jpg') no-repeat center center /cover 
}
.blockTwoBg{
    background: transparent url('./assets/coffeeCup/coffeeCup.jpg') no-repeat center center /cover 
}
.blockThreeBg{
    background: transparent url('./assets/coffeeWood/wallhaven-9094.jpg') no-repeat center center /cover 
}
.minH{
    height: 50vw;
}
.opatcity{
    opacity: 0.5;
}