<!-- this page will act as the header and nav bar all in one -->
<main>
  <app-nav-bar class=""></app-nav-bar>
  <div class="container text-center">
  </div>
  <div>
    <div class="container-fluid p-0 blockOneBg d-flex minH border-bottom border-light">
      <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis aliquam debitis
        architecto deleniti.
        Nulla architecto maiores illo quis modi deleniti, nihil vel eaque tempora nam animi cum eius iure cumque!</p>
    </div>
  </div>
  <div>
    <div class="container-fluid p-0 blockTwoBg d-flex minH border-bottom border-light">
      <p class="text-white">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corporis aliquam debitis
        architecto deleniti.
        Nulla architecto maiores illo quis modi deleniti, nihil vel eaque tempora nam animi cum eius iure cumque!</p>
    </div>
  </div>
</main>
<app-footer></app-footer>